<div class="wrap">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user">
      <div class="itemUser">
        <label><strong>Фамилия</strong></label>
        <input type="text" class="item-name" formControlName="surName" pattern="[a-zA-Zа-яА-Я-]*">
      </div>
      <div class="itemUser">
        <label><strong>Имя</strong></label>
        <input type="text" class="item-name-small" formControlName="firstName" pattern="[a-zA-Zа-яА-Я-]*">
      </div>
      <div class="itemUser">
        <label><strong>Отчество</strong></label>
        <input type="text" class="item-name" formControlName="patronymic" pattern="[a-zA-Zа-яА-Я-]*">
      </div>
    </div>
    <h2>Автомобили</h2>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Номер</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год</th>
      </tr>
      </thead>
    </table>
    <div formArrayName="car">
      <div *ngFor="let itemCar of getFormControls()['controls']; let i = index" formGroupName="{{i}}">
        <input type="text"  formControlName="number" maxlength="8" required pattern="[A-ZА-Я-][A-ZА-Я-][0-9-][0-9-][0-9-][0-9-][A-ZА-Я-][A-ZА-Я-]">
        <input type="text"  formControlName="brand" required pattern="[A-Za-zА-Яа-я]*">
        <input type="text"  formControlName="model" required pattern="[A-Za-zА-Яа-я0-9]*">
        <input type="text" maxlength="4" minlength="4" formControlName="year" required pattern="^(19|20)[0-9]{2}">
        <button class="del btn btn-danger"
                (click)="removeCar(i)"
                [disabled]="getFormControls().length <=1">
          <img src="../../assets/images/btn-remove-car.svg" alt="delete car">
        </button>
      </div>
    </div>
  </form>
  <div class="block-buttons">
    <button type="button" class="added btn btn-primary" (click)="addCar()">
      <img src="../../assets/images/btn-add-car.svg" alt="add car">Добавить автомобиль
    </button>
    <button type="submit" class="save btn btn-primary" (click)="submit()" [disabled]="!form.valid||form.untouched">
      <img src="../../assets/images/btn-submit.svg" alt="submit">Сохранить
    </button>
    <button type="button" class="back btn btn-secondary" [routerLink]="['/']">
      <img src="../../assets/images/btn-back.svg" alt="back">Назад
    </button>
  </div>
</div>

